/* --------------------------------------------------------- scrollbars --- */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--sw-border-strong) transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sw-border-strong);
  border: 3px solid transparent;
  border-radius: 99px;
  background-clip: content-box;
}
